#!/bin/sh

# WM Custom Rules

# Setup the logger
. $HOME/lib/shell/logging && eval "$(get_logger etc.herbstluftwm.rules)"
logger "Initializing herbstluftwm rules"

# Create a helper function
alias hc="herbstclient"

# Reset rules
logger "Removing any prexisting rules"
hc unrule --all

# Focus Rules:
# - Focus *new* windows as they appear
# - Move all Xterm Windows to Tag 3 (I added this here simply for example's sake)
logger "setting up simple focus rules"
hc rule focus=on
#hc rule class=XTerm tag=3 # move all xterms to tag 3

# Okay so probably the rules for the terminal are pointless here. Discord one
# actually doesn't work the way I want it to, but everything else here is
# pretty important. It makes sure that panels appear where they are suppose to
# and also ensures that popups are floating.
logger "Setting up custom floating window rules for certain types of windows"
hc rule class~'(.*[Rr]xvt.*|.*[Tt]erm|Konsole)' focus=on
hc rule class~'(Discord|DiscordCanary)' focus=off
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(DIALOG|UTILITY|SPLASH)' pseudotile=on
hc rule windowtype='_NET_WM_WINDOW_TYPE_DIALOG' focus=on
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(NOTIFICATION|DOCK|DESKTOP)' manage=off


